@if (isLoading){
    <div>
        <p>Loading cards...</p>
    </div>
} @else if (error) {
    <div>
        <p>{{ error }}</p>
    </div>
} @else if (!isLoading && !error){
    <div class="card-list-container">
    @for (card of paginatedCards; track card.id){
        <img [src]="card.card_images[0].image_url" alt="{{ card.name }}">
    }
    <div class="pagination-controls">
        <button (click)="previousPage()" [disabled]="page === 1">Precedente</button>
        <span>Pagina {{ page }} di {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="page === totalPages">Successivo</button>
    </div>
    </div>

    
}